/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/07/2015, 06:38:42 PM
    Author     : CarlosAndres
*/

.ulMenu{
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
}

.liMenu{
    line-height: 30px;
    font-size: 16px;
    cursor:pointer;
}



.divMenu{
    width:175px;
    //height: 30px;
    position:absolute;      
    border:1px solid black;
    background: #fff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

#cke_1_top{
    display: none;

}
.mylightbox{
    display: none;
}
#menuPopup{
    font-size: 16px;
    font-family: Verdana,Arial,Helvetica,sans;
}
.divMenuPopup{
    width:170px;
    height: 30px;
    position:absolute;      
    border:1px solid black;
    background: #fff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.liMenuPopup{
    line-height: 30px;
    font-size: 16px;
    cursor:pointer;
    margin-top: -16px;
    margin-left: -14px;
}