{**
 * plugins/importexport/pubmed/index.tpl
 *
 * Copyright (c) 2013-2014 Simon Fraser University Library
 * Copyright (c) 2003-2014 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * List of operations this plugin can perform
 *
 *}
{strip}
{assign var="pageTitle" value="plugins.importexport.PluginPersonalizable.displayName"}
{include file="common/header.tpl"}
{/strip}


<h3>{translate key="plugins.importexport.PluginPersonalizable.selectElement"}</h3>
<ul class="plain">
	<li>&#187; <a href="{plugin_url path="issues"}">{translate key="plugins.importexport.PluginPersonalizable.Issue"}</a></li>
	<li>&#187; <a href="{plugin_url path="template"}">{translate key="plugins.importexport.PluginPersonalizable.Template"}</a></li>
</ul>

{include file="common/footer.tpl"}
