        /** Easy Tree style */
        .easy-tree {
            border: 1px solid #76ae76;
            border-radius: 3px;
            min-height: 20px;
            margin-bottom: 20px;
            //background-color: #76ae76;
            color: #fff;
            padding-bottom: 15px;
            height: 400px;
            overflow-x: auto;
            overflow-y: auto;

        }

        .easy-tree > ul {
            padding-left: 15px;

        }

        .easy-tree li {
            list-style-type: none;
            margin: 0;
            padding: 10px 5px 0 5px;
            position: relative;

        }

        .easy-tree li::before, .easy-tree li::after {
            content: '';
            left: -30px;
            position: absolute;
            right: auto
        }

        .easy-tree li::before {
            border-left: 1px solid #76ae76;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
            left: -16px;
        }

        .easy-tree li::after {
            border-top: 1px solid #76ae76;
            height: 20px;
            top: 25px;
            width: 21px;
            left: -15px;

        }

        .easy-tree li > span {
            border: 1px solid #fff;
            border-radius: 3px;
            display: inline-block;
            padding: 5px;
            text-decoration: none;
            background-color: #76ae76;
        }

        .easy-tree li.parent_li > span {
            cursor: pointer
        }


        .easy-tree > ul > li::before, .easy-tree > ul > li::after {
            border: 0
        }

        .easy-tree li:last-child::before {
            height: 30px
        }

        .easy-tree li.parent_li > span:hover, .easy-tree li.parent_li > span:hover + ul li span {
            background: #76ae76;
            color: #fff;
        }

        .easy-tree li.parent_li > span:hover + ul li.li_selected span {
            background: #ABA;

        }

        .easy-tree li > span > a {
            color: #fff;
            text-decoration: none;
        }

        .easy-tree li > span > span.glyphicon-folder-close, .easy-tree li > span > span.glyphicon-folder-open {
            margin-right: 5px;
        }

        .easy-tree li.li_selected > span, .easy-tree li.li_selected > span > a {
            background: #ABA;
            color: #fff;
        }

        .easy-tree li.li_selected > span:hover, .easy-tree li.li_selected > span:hover > a {
            background: #ABA;
            color: #fff;
        }

        .easy-tree .easy-tree-toolbar {
            border-bottom: 1px solid #76ae76;
            border-radius: 3px;

        }

        .easy-tree .easy-tree-toolbar > div {
            display: inline;
        }

        .easy-tree .easy-tree-toolbar > div > button {
            border-radius: 0;
            margin: 20px 5px;
        }

        .easy-tree .easy-tree-toolbar .create .input-group {
            top: -15px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .easy-tree .easy-tree-toolbar .create .input-group input {
            border-radius: 0;
        }

        .easy-tree .easy-tree-toolbar .create .input-group button {
            border-radius: 0;
        }

        .easy-tree-editor{
            color: #000;
        }

        .easy-tree a {
            text-decoration: none;
        }
